@import url(https://fonts.googleapis.com/css?family=Lato);

.divSection{
    font-family: Lato, sans-serif;
    color: #ecf0f1;
    text-decoration: none;
    text-transform: uppercase;    
    text-align: center;
    background: #1A1E23;
    padding: 0.25%;
}